---
---

@import "{{ site.theme }}";

//Media Query
@mixin mq($width, $type: min) {
  @if map-has-key($breakpoints, $width) {
    $width: map-get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

$breakpoints: (
  "phone": 320px,
  "phonexl": 480px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1200px,
  "desktop-md": 1440px,
  "desktop-lg": 1600px,
  "desktop-xl": 1920px,
);

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  padding: 0;
}

.wrapper {
  width: 100%;

  @include mq("desktop") {
    display: flex;
  }
}

a.buttons {
  -webkit-font-smoothing: antialiased;
  background: none;
  font-weight: bold;
  text-shadow: none;
  padding: 2px 2px 2px 12px;
  height: 2em;
}

a {
  color: #333333;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.header {
  font-weight: normal;
}

section {
  float: none;
  margin: 0 auto;
  max-width: 650px;
  padding: 0 15px;
  width: auto;

  /* The logo that is in every post */
  & p:first-child img {
    display: none;
    border: 0;
    width: 450px;
    padding: 0;
    margin: 10px auto 40px;

    @include mq("desktop") {
      display: block;
    }
  }

  & .posts {
    padding: 0;
  }
}

header {
  background-color: #f7f7f7;
  border: none;
  border-bottom: 1px solid #e1e4e8;
  border-radius: 0;
  float: none;
  height: 70px;
  margin: 0 auto;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
  width: 100%;

  @include mq("desktop") {
    background-color: #1a051c;
    margin-right: auto;
    height: 100vh;
    margin: 0;
    min-height: 744px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 280px;
  }

  &.active {
    height: auto;
    box-shadow: 0px -5px 7px 5px rgba(68, 68, 68, 0.21);
  }

  & ul {
    margin-bottom: 0;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
  }

  & li {
    background: transparent;
    border: none;
    border-bottom: 1px solid #e1e4e8;
    border-radius: 0;
    box-shadow: none;
    display: block;
    height: auto;
    min-height: 55px;
    line-height: 1.8em;
    margin-bottom: 0;
    padding: 0;
    width: 100%;

    &:hover {
      background: transparent;
    }

    @include mq("desktop") {
      border: none;
      padding: 0 20px;
    }
  }

  & li a.buttons,
  & p a {
    color: #88309f;
    font-weight: normal;
    display: block;
    height: auto;
    min-height: 55px;
    padding: 15px 0;
    text-decoration: none;
    width: 100%;

    &:hover {
      color: #88309f;
    }

    @include mq("desktop") {
      color: #e688ff;
      font-size: 16px;

      &:hover {
        color: #f5d2f7;
      }
    }
  }

  & p a {
    display: inline;
  }

  & p {
    color: #60605b;
    margin: 0 0 20px;

    @include mq("desktop") {
      color: #d9d9d9;
      padding: 0 20px;
    }
  }

  & .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  & .logo {
    height: 50px;
    border: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;

    @include mq("desktop") {
      padding-left: 10px;
    }
  }

  & .burger {
    cursor: pointer;
    height: 50px;
    position: relative;
    width: 50px;

    @include mq("desktop") {
      display: none;
    }
  }

  & .burger-bar {
    background-color: #60605b;
    border: none;
    border-radius: 3px;
    height: 3px;
    position: absolute;
    width: 30px;
    top: 18px;
    left: 10px;
    transition: 0.2s ease all;

    &--bottom {
      top: 26px;
    }
  }

  &.active .burger-bar--top {
    top: 24px;
    transform: rotateZ(-45deg);
  }

  &.active .burger-bar--bottom {
    top: 24px;
    transform: rotateZ(45deg);
  }

  & .bottom {
    margin-top: 20px;

    @include mq("desktop") {
      bottom: 0;
      position: absolute;
    }
  }
}

a.buttons:hover {
  color: #f7f7f7;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

h1 .octicon,
h2 .octicon,
h3 .octicon,
h4 .octicon,
h5 .octicon,
h6 .octicon {
  visibility: hidden;
}

h1:hover .octicon,
h2:hover .octicon,
h3:hover .octicon,
h4:hover .octicon,
h5:hover .octicon,
h6:hover .octicon {
  visibility: visible;
}

.octicon {
  fill: currentColor;
  padding: 0;
  margin-left: -16px;
  vertical-align: middle;
}
