---
---

@import "{{ site.theme }}";

a.buttons {
	-webkit-font-smoothing: antialiased;
	background: none;
	font-weight: bold;
	text-shadow: none;
	padding: 2px 2px 2px 12px;
	height: 2em;
}

a {
	color: #333333;
	font-weight: bold;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.header {
	font-weight: normal;
}

header li {
	background: #88309f;
	-webkit-box-shadow: inset 0px 1px 1px 0 #88309f;
  box-shadow: inset 0px 1px 1px 0 #88309f;
}

header li:hover {
	background: #77107d;
}

header li a {
	color: #ffffff;
	text-decoration: none;
	display: block;
}

a.buttons:hover {
	color: #ffffff;
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

/* anchor headings */
h1 {
	margin-left: -20px;
	padding-left: 10px; 
  }
  
  h2 {
	margin-left: -18px;
	padding-left: 10px; 
  }
  
  h3 {
	margin-left: -16px;
	padding-left: 10px; 
  }
  
  h4 {
	margin-left: -14px;
	padding-left: 10px; 
  }
  
  h5 {
	margin-left: -12px;
	padding-left: 10px; 
  }
  
  h6 {
	margin-left: -10px;
	padding-left: 10px; 
  }
  
  h1 .octicon, h2 .octicon, h3 .octicon, h4 .octicon, h5 .octicon, h6 .octicon  {
	visibility: hidden;
  }
  
  h1:hover .octicon, h2:hover .octicon, h3:hover .octicon, h4:hover .octicon, h5:hover .octicon, h6:hover .octicon {
	visibility: visible;
  }
  
  .octicon {
	fill: currentColor;
	padding: 0;
	margin-left: -16px;
	vertical-align: middle;
  }
